body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
  }

  .navbar {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0174BE;
    padding-top: 20px;
  }

  .navbar a {
    padding: 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
  }

  .navbar a:hover {
    background-color: #ffffff;
    color: #0174BE;
  }

  .navbar a.active{
    background-color: #ffffff;
    color: #0174BE;
  }

  .content {
    margin-left: 220px;
    padding: 20px;
  }