body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  height: 100%;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0174BE;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar a {
  padding: 15px;
  text-decoration: none;
  font-size: 10px;
  color: white;
  display: flex;
  align-items: center;
}

.navbar a:hover {
  background-color: #ffffff;
  color: #0174BE;
}

.navbar a.active,
.navbar a.active:hover {
  color: #0174BE;
}

.nav-text {
  margin-left: 10px;
}

.content {
  margin-left: 220px;
  padding: 20px;
}
