.intro {
    padding-left: 50px;
    padding-top: 100px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    max-width: 900px;
    text-align: center;
    margin: 0 auto;
}

.intro p{
    padding-top: 50px;
}

.navbar{
    padding-top: 20px;
    font-family: 'Montserrat', sans-serif;
    padding-right: 60px;
    padding-left: 60px;
}

.navbar-toggler{
    border: none;
}

.explore{
    padding-top: 100px;
    padding-bottom: 100px;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

.explore h1{
    text-align: center;
    margin: 0 auto;
}

.ads-explore{
    padding-top: 100px;
    font-family: 'Montserrat', sans-serif;
}

.kartu{
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 10px;
    color: #000000;
    border-radius: 5px 5px 5px 5px;
    background: rgba(255, 255, 255);
    position: relative;
    transition: 0.3s;
    transform-origin: center;
    overflow: hidden;
    border: #e4e4e4 1px solid;
    border-radius: 20px;
}

.kartu:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.kartu:hover ~ .kartu{
    cursor: pointer;
    transform: translateX(22px);
}

.kartu h5{
    padding-top: 10px;
    padding-left: 10px;
}

.kartu p{
    padding-left: 10px;
}

#hover{
    position: relative;
    display: block;
    transition: 0.5s;
    cursor: pointer;
}
    
#hover::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    top: 45px;
    left: 0;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: right;
    background-color: linear-gradient(to right, #0074cc, #00cc6a);
}
    
#hover:hover{
    color:linear-gradient(to right, #0074cc, #00cc6a);
}
    
#hover:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}
.desc{
    font-family: 'Montserrat', sans-serif;
    width: 420px;
    color: white;
    padding: 30px 40px;
    border: 1px solid;
    border-radius: 20px;
    backdrop-filter: blur(5px);
}

